@model FormCollection
@{
    ViewBag.Title = "WebForm";
}

<h2>WebForm</h2>
@if (!IsPost)
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Customer</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.Label("First Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model["FirstName"], new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model["FirstName"], "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Last Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model["LastName"], new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model["LastName"], "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Email", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model["Email"], new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model["Email"], "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Age", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model["Age"], new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model["Age"], "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Full Address", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model["FullAddress"], new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model["FullAddress"], "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Date of Birth", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model["DateOfBirth"], new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model["DateOfBirth"], "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Display" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
}
else
{


        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-2 col-5">
                    <label style="font-weight:bold;">Full Name</label>
                </div>
                <div class="col-md-8 col-6">
                    @Model["[FirstName]"] @Model["[LastName]"]
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-3 col-md-2 col-5">
                    <label style="font-weight:bold;">Email Address</label>
                </div>
                <div class="col-md-8 col-6">
                    @Model["[Email]"]
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-3 col-md-2 col-5">
                    <label style="font-weight:bold;">Full Address</label>
                </div>
                <div class="col-md-8 col-6">
                    @Model["[FullAddress]"]
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-3 col-md-2 col-5">
                    <label style="font-weight:bold;">Birth Date</label>
                </div>
                <div class="col-md-8 col-6">
                    @Model["[DateOfBirth]"]
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-3 col-md-2 col-5">
                    <label style="font-weight:bold;">Age</label>
                </div>
                <div class="col-md-8 col-6">
                    @Model["[Age]"]
                </div>
            </div>

        </div>
}

